<!DOCTYPE html>
<html>
  <head>
    <title>NewAuthDemo</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-spy="scroll" data-target="#side-nav">
    <div class="container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/errors' %>
      <%= yield %>
    </div>
  </body>
</html>
